*
!README.md
!LICENSE.md
!.gitignore
!fish
!fish/**
!alacritty
!alacritty/**
!zsh
!zsh/**
!ipython
!ipython/**
!python
!python/**
!wgetrc
!starship.toml
!installers
!installers/**
!mise
!mise/**
!nix
!nix/**
