*
!README.md
!LICENSE.md
!.gitignore
!fish
!fish/**
!alacritty
!alacritty/**
!git
!git/**
!zsh
!zsh/**
!ipython
!ipython/**
!python
!python/**
!wgetrc
!kitty
!kitty/**
!starship.toml
!installers
!installers/**
!mise
!mise/**
!nix
!nix/**
!nix-darwin
!nix-darwin/**
