*
!.gitignore
!README.md
# General Purpose
!configure.fish
!take.fish
!save.fish
!explorer.fish
!os.fish
!check_update.fish
!cdi.fish
!open.fish
!openi.fish
!gs.fish
!show.fish
!unstage.fish
!confirm.fish
!gitignore.fish
!unsplash.fish
!doc_functions.fish
!_task_should_offer.fish
!_task_offer.fish
!copy.fish
!paste.fish
!wifi-pass.fish
