*
!.gitignore
!README.md
# General Purpose
!_task_offer.fish
!_task_should_offer.fish
!cdi.fish
!configure.fish
!confirm.fish
!copy.fish
!doc-functions.fish
!gitignore.fish
!save.fish
!show.fish
!take.fish
!unsplash.fish
!unstage.fish
!wifi-pass.fish
!clone.fish
!open.fish
!ll.fish
!bulk-slugify.fish
